body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}


.avatar {
    width: 150px;
}

.card {
    width: 400px; 
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
    margin-top: 10%;
    margin-left: 30%;

}

.border-blue {
    border: 1px dotted blue;
}
/*-----------------------------------------------*/
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
  background-color:	#D2B48C ; 
  }
  
  .dropdown:hover .dropdown-content {
  display: block;
  }